<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">Add Testimonials</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Border Left Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    <label for="img">Select image:</label>
                    <input type="file" id="img" name="img" accept="image/*">
                    <input type="submit">                                   
                </div>
            </div>

            <div class="card mb-4 py-3 border-left-secondary">
                <div class="card-body">
                    <label for="text">Add text:</label>
                    <textarea id="review" name="review" rows="4" cols="50">
                    </textarea>
                    <input type="submit">
                </div>
            </div>

            <div class="card mb-4 py-3 border-left-success">
                <div class="card-body">
                    <label for="fname">Add name</label>
                    <input type="text" id="name" name="name">
                    <input type="submit">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
